<div id="map" style="width:100%;height:550px;"> can't load map</div>

<button class="place1"> 다른 곳 </button>
<button class="place2"> 또 다른 곳 </button>
<button class="place3"> 또또 다른 곳 </button>
<button id="clicklocate">현 위치</button>
<div id="out" class="testing"></div>

<script src="/js/findmyloca.js"></script>
<script src='/js/naverelements.js'></script>
