<div id="map" style="width:100%;height:600px;"> can't load map</div>

<div class="testing"> hello tester </div>

<button class="place1"> 다른 곳 </button>
<button class="place2"> 또 다른 곳 </button>
<button class="place3"> 또또 다른 곳 </button>

<script src='/js/naverelements.js'></script>