<meta charset="UTF-8">
<title>간단한 지도 표시하기</title>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<link rel="stylesheet" href="css/naverstyle.css">
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=r6re3Gip0uKX7wozsbCQ"></script>