<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> <%= test %> </title>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
    <div class="login-page">
  <div class="form">

    <!-- 회원가입 부분 -->
    <form class="register-form" action='/signup' method="post">
      <input type="text" name="email_address" class="c" placeholder="email_address"/>
      <input type="password" name="password" class="d" placeholder="password"/>
      <input type="text" name="name" class="e" placeholder="name"/>
      <input class="submit-button" type="submit" ></input>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>

    <!-- 로그인 부분 -->
    <form class="login-form" action='/accessLogin' method="post" >
      <input type="text" name="email_address" class="a" placeholder="id"/>
      <input type="password" name="password" class="b" placeholder="password"/>
      <input class="submit-button" type="submit" ></input>
      <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form>

    <!-- 회원탈퇴 부분 -->

  </div>

  <button class ="loginbutton">login</button>
  <button class ="createbutton">create</button>
  <button><a href="/signout">회원탈퇴</a></button>
  <div class="form" id="result"/>
</div>
<script src="/js/main.js"></script>
</body>
</html>