<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>회원탈퇴</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h3>회원탈퇴</h3>
    <form action="/deleteUser" method="post">
        아이디 : <input type="text" name="email_address" placeholder="id"/><p/>
        비밀번호 : <input type="password" name="password" placeholder="password"><p/>
        <input type="submit" value="회원탈퇴"/>
    </form>
</body>
</html>